<!DOCTYPE html>
<html lang="zh-CN">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

	include ../layouts/head

	<body class="home page-template page-template-template-fullwidth page-template-template-fullwidth-php page page-id-4 tribe-no-js fullwidth header-sticky-enabled header-sticky-hide  one-col wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
		<div class="pageloader"></div>
		<div id="tpath_wrapper" class="wrapper-class">
		include ../layouts/menu.pug

		include ./indexMain.html
		
		include ../layouts/footer.html
		
		</div>
		include ../layouts/footerScript.html
	</body>
</html>
