<div id="header" class="header-section header-styleone header-no-transparent header-light">

	<div id="header-main" class="header-main-section sticky-header-wrap navbar">
		<div class="container">

			<!-- ==================== Toggle Icon ==================== -->
			<div class="navbar-header nav-respons tpath-logo has-img">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".tpath-mainnavbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand" title="Nashville - Kindergarten Wordpress Theme" rel="home">
					<img class="img-responsive standard-logo" src="/wp-content/themes/nashville/images/logo.png" alt="Nashville" width="230" height="82" />
				</a>
			</div>
			<div class="navbar-collapse tpath-mainnavbar-collapse collapse tpath-header-main-bar">
				<ul class="nav navbar-nav navbar-right tpath-main-bar">
					<li class="header-top-section clearfix">
						<ul class="header-top-inner nav navbar-nav">
							<li class="header-phone-nav">
								<div class="header-phone-number header-top-bar-item">
									<div class="header-top-bar-phone">
										<i class="flaticon flaticon-technology"></i>
										<div class="header-label">
											<span class="header-label-text">Call :</span>
											<span class="header-label-details">+(62) 123 456 7890</span>
										</div>
									</div>
								</div>
							</li>

							<li class="header-top-menu-nav">
								<div class="hidden-xs">
									<div id="top-nav" class="tpath-top-nav top-menu-navigation">
										<ul id="top-menu" class="nav navbar-nav navbar-right tpath-top-nav">
											if user
												if user.canAccessKeystone
													<li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a title="keystone" href="/keystone">打开控制台</a></li>
												<li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a title="keystone" href="/keystone/signout">登出</a></li>
											else
												<li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a title="keystone" href="/keystone/signin">登入</a></li>
										</ul>
									</div>
								</div>
								<div id="mobile-menu" class="visible-xs">
									<div id="top-mobile-nav" class="tpath-top-nav top-menu-navigation">
										<ul id="top-mobile-menu" class="nav navbar-nav tpath-top-nav">
											if user
												if user.canAccessKeystone
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a title="keystone" href="/keystone">打开控制台</a></li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404"><a title="keystone" href="/keystone/signout">登出</a></li>
											else
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404"><a title="keystone" href="/keystone/signin">登入</a></li>
										</ul>
									</div>
								</div>
							</li>

							<!--<li class="extra-nav search-nav-toggle">
										<i class="simple-icon icon-magnifier btn-search-trigger"></i>
							</li>-->


						</ul>
					</li>

					<li class="header-main-inner clearfix">
						<ul class="nav navbar-nav">
							<li class="header-menu-nav">
								<div class="hidden-xs">
									<div id="main-mega-nav" class="main-nav main-megamenu-navigation">
										<ul id="main-mega-menu-nav" class="nav navbar-nav navbar-main tpath-main-nav">
											<li id="menu-item-537" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-537 dropdown"><a title="首页" href="/" class="dropdown-toggle">首页 <span class="caret"></span></a>
											</li>
											<li id="menu-item-356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-356 dropdown"><a title="校园动态" href="/news" class="dropdown-toggle">校园动态 <span class="caret"></span></a>
											</li>
											<li id="menu-item-358" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-358 dropdown"><a title="课程介绍" href="/gallery" class="dropdown-toggle">校园相册 <span class="caret"></span></a>
											</li>
											<li id="menu-item-368" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-368 dropdown"><a title="校园相册" href="/course" class="dropdown-toggle">课程介绍 <span class="caret"></span></a>
											</li>
											<li id="menu-item-581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581 dropdown"><a title="关于我们" href="/about" class="dropdown-toggle">关于我们 <span class="caret"></span></a>
											</li>
											<li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a title="在线预约" href="/contact">在线预约</a></li>
										</ul>
									</div>
								</div>
								<div id="mobile-menunav" class="visible-xs">
									<div id="main-mobile-nav" class="main-nav main-menu-navigation">
										<ul id="main-mobile-menu-nav" class="nav navbar-nav navbar-main tpath-main-nav">
											<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-537 active"><a title="首页" href="/">首页</a><span class="menu-toggler" data-toggle="collapse" data-target=".collapse-537"></span>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-356"><a title="校园动态" href="/news">校园动态</a><span class="menu-toggler" data-toggle="collapse" data-target=".collapse-356"></span>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-358"><a title="课程介绍" href="/gallery">校园相册</a><span class="menu-toggler" data-toggle="collapse" data-target=".collapse-358"></span>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-368"><a title="校园相册" href="/course">课程介绍</a><span class="menu-toggler" data-toggle="collapse" data-target=".collapse-368"></span>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581"><a title="关于我们" href="/about">关于我们</a><span class="menu-toggler" data-toggle="collapse" data-target=".collapse-581"></span>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a title="在线预约" href="/contact">在线预约</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</li>

				</ul>

			</div>
		</div>
		<!-- .container -->
	</div>
	<!-- .header-main-section -->
</div>
<!-- #header -->
